*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul,ol{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.clr::after{
	clear: both;
	display: table;
	content: "";
}

.container{
	max-width: 1170px;
	margin: 0 auto;
}

.btn{
	padding: 10px 20px;
	background-color: #dddddd;
	display: inline-block;
	text-align: center;
	border: 1px solid #dddddd;
	color: #333;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.btn:hover{
	background-color: #3e8e41;
	border-color: #3e8e41;
	color: #fff;
}